# Rust
target/
Cargo.lock


# IDE
.vscode/
.editorconfig
.rustfmt.toml
clippy.toml
justfile
./tailwind.css
taplo.toml


dist/

# Node modules (if any)
node_modules/

# Git
.git/
.gitignore
.github

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Other
*.tmp
*.temp