*.lock
*-lock.yaml

*.env*
!**/.env.example

# Mac stuff:
.DS_Store

# local env files
.env*


# compiled output
/dist

# IDE - VSCode
.vscode
.vercel
.ipynb_checkpoints
.ipython
.jupyter

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.venv

/target

